:root {
  --font-family: "Comfortaa", cursive;
  --main-color: #0075ff;
  --bg-color: #fefbfb;
  --title-size: 3rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main div {
  user-select: none;
  line-height: 0;
  font-size: 0;
}

input {
  outline: none;
}

h1 {
  font-size: var(--title-size);
}

a {
  color: var(--main-color);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  text-decoration: line-through;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 7px;
  }
}
